@model Project.Web.Models.ReportModel
@{
    ViewBag.Title = "ReportHome";
}


@using Project.Web.Common;
@{
    SessionHelper session = new SessionHelper();
}
<script>
    $(document).ready(function () {
        $(".date-control").daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
        });
    });
</script>



<div class="page-container">
    <div class="page-header clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mt-0 mb-5">Lead Management</h4>
                <ol class="breadcrumb mb-0">
                    <li><a href="@Url.RouteUrl("AdminDashboard")">Home</a></li>
                    <li><a href="@Url.RouteUrl("Reports")">Reports</a></li>
                    <li class="active">Report</li>
                </ol>
            </div>
            <div class="col-sm-6">               
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Reports</h3>
                <div class="pull-right">                 
                  
                </div>
            </div>
            <div class="widget-body" id="userTable">
                <div id="messagepanel" class="row" hidden="hidden">
                    <div class="col-md-12">
                        <div class="box-body">
                            <span id="errorMsg"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-success">
                            @using (Html.BeginForm("ReportHome", "Reports", FormMethod.Post, new { @id = "frmSubmit" }))
                            {
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label for="reportType">Filter by Type</label>
                                            <select id="reportType" name="reportType" class="form-control noText">
                                                <option value="0">Choose A Option</option>
                                                <option value="Lead Per Source">Lead Per Source</option>
                                                <option value="Lead Per Sales Rep.">Lead Per Sales Rep.</option>
                                                <option value="Closed Lead Per Source">Closed Lead Per Source</option>
                                                <option value="Closed Lead Per Sales Rep.">Closed Lead Per Sales Rep.</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-8"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div id="fromDiv" class="form-group">
                                                <label for="exampleInputEmail1">From</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-control noText" id="sDateString" name="sDateString" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div id="toDiv" class="form-group">
                                                <label for="exampleInputEmail1">To</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control date-control noText" id="eDateString" name="eDateString" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.box -->
                </div>
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div class="box box-primary"></div>

                        <!-- form start -->
                        <div role="form">
                            <div class="box-footer">
                                <div class="pull-right">

                                    <button type="button" class="btn btn-primary" id="btnFetch" onclick="submitForm();">Genreate Report</button>
                                    <button type="button" class="btn btn-danger" id="btnClear">Clear</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <div style="height:20px"></div>
                    </div>
                </div>

                @if (Model.hasReport)
                {
                    <div class="col-xs-12">
                     @*   <div class="box">*@
                            @*<div class="box-header">
                                <h3 class="box-title">Redeem Transactions History</h3>
                            </div>*@
                            <!-- /.box-header -->
                         @*   <div class="box-body table-responsive">*@
                                <table id="example1" style="width: 100%" class="table table-bordered  table-hover dt-responsive ">
                                    @if (Model.reportType == "Lead Per Sales Rep." || Model.reportType == "Closed Lead Per Sales Rep.")
                                    {
                                         <thead>
                                                <tr>
                                                    <th class="text-center">Sales Rep </th>
                                                    <th class="text-center">No of Leads </th>
                                                </tr>
                                          </thead>
                                    }
                                    else{
                                        <thead>
                                                <tr>
                                                    <th class="text-center">Source </th>
                                                    <th class="text-center">No of Leads </th>
                                                </tr>
                                        </thead>
                                    }

                                    <tbody id="awardList">
                                        
                                       @foreach (var rep in Model.Report)
                                       {
                                           <tr>
                                               <td class="text-center">@rep.salesRepName</td>
                                               <td class="text-center">@rep.noOfLeads</td>
                                           </tr>                                            
                                       }
                                    </tbody>

                                </table>
                            @*</div>*@
                            <!-- /.box-body -->
                       @* </div>*@
                        <!-- /.box -->
                    </div>

                }
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="Leads" />



<script>
    // Table Script*******

    $(document).ready(function () {

        var e1 = $("#example1").DataTable({ pageLength: 10, colReorder: !0, buttons: [], searching: !0, aLengthMenu: [[10, 20, 50, -1], [10, 20, 50, "All"]], order: [[2, "desc"]], columnDefs: [{ orderable: !1, targets: [0, 1] }] });
        $("#example1_wrapper .col-sm-6:eq(1)").addClass("text-right"), e1.buttons().container().appendTo("#example1_wrapper .col-sm-6:eq(1)")

    });
</script>

<script>
    function submitForm() {
        $('#frmSubmit').submit();
    }
</script>






