@{
    Layout = "~/Views/Shared/_LayoutPageLogin.cshtml";
}


    <div class="container page-container">
        <div class="page-content">
            <div class="v2">
                <div class="logo"><img class="m-10" src="@Url.Content("~/Content/build/images/logo/logo-iconic-dark.png")" alt="" width="100"></div>
                <h4 class="fs-16 text-white fw-300 mt-0">Forgot Password</h4>
                <p class="text-muted">Enter the email address associated with your account to reset your password</p>
                <br>
                <form method="get" action="index.html">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Email" class="form-control">
                    </div>
                    <br>
                    <button type="" style="width: 150px" class="btn btn-primary btn-rounded">Reset</button>
                </form>
            </div>
        </div>
    </div>
   

