@{
    ViewBag.Title = "test";
}

@using Project.Web.Common;
@{
    SessionHelper session = new SessionHelper();
}



<script>
    $(document).ready(function () {
        $(".date-control").daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'MM/DD/YY'
            },
        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#startTime").datetimepicker({ locale: "en-gb", format: "LT" });
        $("#endTime").datetimepicker({ locale: "en-gb", format: "LT" });
        $("#ustartTime").datetimepicker({ locale: "en-gb", format: "LT" });
        $("#uendTime").datetimepicker({ locale: "en-gb", format: "LT" });
    });
</script>

<script>
    $(document).ready(function () {
        $("#inputBackgroundEvent").minicolors({ theme: "bootstrap" })
        $("#uColor").minicolors({ theme: "bootstrap" })
    });
</script>




<!-- Page Content -->
<div class="page-container">
    <div class="page-header clearfix">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="mt-0 mb-5">Calender</h4>
                <ol class="breadcrumb mb-0">
                    <li><a href="@Url.RouteUrl("AdminDashboard")">Home</a></li>
                    <li><a href="@Url.RouteUrl("Calender")">Calender</a></li>
                    @*<li class="active">Genral Setings</li>*@
                </ol>
            </div>
            <div class="col-sm-6">
                @*<div class="btn-group mt-5">
                        <button type="button" class="btn btn-default btn-outline"><i class="flag-icon flag-icon-us mr-5"></i> English</button>
                        <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-outline dropdown-toggle"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
                        <ul class="dropdown-menu dropdown-menu-right animated fadeInDown">
                            <li><a href="#"><i class="flag-icon flag-icon-de mr-5"></i> German</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-fr mr-5"></i> French</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-es mr-5"></i> Spanish</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-it mr-5"></i> Italian</a></li>
                            <li><a href="#"><i class="flag-icon flag-icon-jp mr-5"></i> Japanese</a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="page-content container-fluid">
        <div class="widget">
            <div class="widget-heading clearfix">
                <h3 class="widget-title pull-left">Calender</h3>

            </div>
            <div class="widget-body">
                <div class="col-sm-12">
                    <div id="fullcalendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div id="addNewEvent" tabindex="-1" role="dialog" aria-labelledby="ModalEventLabel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="ModalEventLabel" class="modal-title">Add New Event</h4>
            </div>
            <div class="modal-body">
                <form id="eForm">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input id="inputTitleEvent" type="text" placeholder="Event Name" class="form-control">
                            <div id="error_div_inputTitleEvent" style="display:none;">
                                <p style="color:red;">Please Enter titles</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8" style="display:none;">
                        <div class="form-group">
                            <input id="start" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6" style="display:none;">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="" id="startTime" />
                             <div id="error_div_startTime" style="display:none;">
                                <p style="color:red;">Please Enter start Time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="display:none;">
                        <div class="form-group">
                            <input id="endTime" type="text" class="form-control">
                            <div id="error_div_endTime" style="display:none;">
                                <p style="color:red;">Please Enter end Time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" style="display:none;" style="display:none;">
                        <div class="form-group">
                            <input id="end" type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Related Lead</label>
                            <select id="Rlead" class="form-control ">                               
                            </select>
                            <div id="error_div_Rlead" style="display:none;">
                                <p style="color:red;">Please choose a person</p>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-12">
                        <div class="form-group">
                            <input id="inputBackgroundEvent" type="text" value="#0667D6" class="form-control">
                        </div>
                    </div>*@
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea id="description" class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <input id="start" type="hidden">
                    <input id="end" type="hidden">
                    <input id="allDay" type="hidden">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default">Cancel</button>
                <button id="btnAddNewEvent" type="submit" class="btn btn-raised btn-black">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="Event" tabindex="-1" role="dialog" aria-labelledby="ModalEventLabel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="ModalEventLabel" class="modal-title">Event Info</h4>
            </div>
            <div class="modal-body">
                <form id="eForm">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <p><b>DBA :</b></p>
                        </div>
                        <div class="col-sm-8">
                            <p id="dba"></p>
                        </div>                        
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <p><b>Contact :</b></p>
                        </div>
                        <div class="col-sm-8">
                            <p id="contact"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <p><b>Business Phone :</b></p>
                        </div>
                        <div class="col-sm-8">
                            <p id="bphone"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <p><b>Business Email :</b></p>
                        </div>
                        <div class="col-sm-8">
                            <p id="bemail"></p>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <p><b>Start Date :</b></p>
                        </div>
                        <div class="col-sm-8">
                            <p id="sdate"></p>
                        </div>
                    </div>
                    <input type="hidden" id="reId" />
                </form>
                <form id="uForm">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input id="uTitle" type="text" placeholder="Event Name" class="form-control ">
                        </div>
                    </div>
                    @*<div class="col-sm-12">
                        <div class="form-group">
                            <input id="uColor" type="text" value="" class="form-control">
                        </div>
                    </div>*@                    
                    @*<div class="col-sm-12">
                        <div class="form-group">
                            <div class="checkbox-inline checkbox-custom">
                                <input id="dateFlag" type="checkbox" value="" onclick="showDateDiv();">
                                <label for="dateFlag" class="checkbox-muted text-muted">Change Time And Date</label>
                            </div>
                        </div>
                    </div>*@
                    <div id="dateDiv">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input id="ustartDate" type="text" class="form-control date-control" placeholder="Start Date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="ustartTime" type="text" placeholder="Start Time" class="form-control ">
                            </div>
                        </div>
                        @*<div class="col-sm-8">
                            <div class="form-group">
                                <input id="uendDate" type="text" class="form-control date-control" placeholder="End Date">
                            </div>
                        </div>*@
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input id="uendTime" type="text" placeholder="End Time" class="form-control ">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea id="uDesc" class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <input id="ustart" type="hidden">
                    <input id="uend" type="hidden">
                    <input id="uId" type="hidden">
                    <input id="dtFlag" type="hidden" value="0" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="update" onclick="updateEvent()">Update</button>
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-danger" id="remove" onclick="RemoveEvent();">Remove</button>
            </div>
        </div>
    </div>
</div>

<div id="Transfer" tabindex="-1" role="dialog" aria-labelledby="ModalEventLabel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                <h4 id="ModalEventLabel" class="modal-title">Transfer To Date</h4>
            </div>
            <div class="modal-body">                
                <form id="uForm">            
                    <div id="dateDiv">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ftDate">From</label>
                                <input id="ftDate" type="text" class="form-control date-control" placeholder="From Date">
                                <div id="error_div_ftDate" style="display:none;">
                                    <p style="color:red;">Please Choose A Date</p>
                                </div>
                            </div>
                        </div> 
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="ttDate">To</label>
                                <input id="ttDate" type="text" class="form-control date-control" placeholder="To Date">
                                <div id="error_div_ttDate" style="display:none;">
                                    <p style="color:red;">Please Choose A Date</p>
                                </div>
                            </div>
                        </div>                      
                    </div>
                   
                    <input id="tstart" type="hidden">
                    <input id="tend" type="hidden">
                    <input id="uId" type="hidden">
                    <input id="dtFlag" type="hidden" value="0" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-raised btn-default" id="update" onclick="Transfer();">Transfer</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hov" />
<input type="hidden" id="editPermission" value="@session.UserPermissionsSession.EditTask"/>
<input type="hidden" id="ttm" />
<script>

    $(document).ready(function () {

        function e() { $("#addNewEvent").modal("hide"), $("#fullcalendar").fullCalendar("renderEvent", { title: $("#inputTitleEvent").val(), start: new Date($("#start").val()), end: new Date($("#end").val()), color: $("#inputBackgroundEvent").val() }, !0) }

        $("#fullcalendar").fullCalendar({
            
            header: {
                left: "prev,next, transferTo",
                center: "title",
                right: "month,agendaWeek,agendaDay"
            },
            customButtons: {
                transferTo: {
                    text: 'Transfer To',
                    click: function () {
                        $('#Transfer').modal('show');
                    }
                }
            },
            defaultView: 'agendaDay',
            buttonIcons: {
                prev: " ti-angle-left",
                next: " ti-angle-right"
            },
             timeFormat: 'h(:mm)t',
            //timeFormat : 'H:mm',
            timezone: 'UTC',
            droppable: !0,
            selectable: !0,
            selectConstraint: {
                start: '00:00',
                end: '24:00',
            },
            editable: !1,           
            select: function (e, t, a) {
                $('#ttm').val(e);
                $("#start").val(moment(e).format("YYYY/MM/DD HH:mm")),
                $("#end").val(moment(t).format("YYYY/MM/DD HH:mm")),
             //   $("#start").val(moment.utc(e, 'MM/DD/YY HH:MM').format('MM/DD/YY HH:MM tt')),
                
                //  $("#start").val(e),
                //  $("#end").val(t),
                $('#ttm').val(e);
                $("#inputTitleEvent").val(""), $("#addNewEvent").modal("show")
            },
            allDay: !1,
            displayEventTime : !0,
            eventColor: "#0667D6",
            eventLimit: !0,
            events: '/Calender/GetEvents/',
            eventClick: function (calEvent, jsEvent, view) {
                if ($("#editPermission").val().trim() == 'on') {                 
                    ViewEvent(calEvent.id, calEvent.title, calEvent.start, calEvent.end, calEvent.color)
                }               
            },
            eventMouseover: function (calEvent, jsEvent) {
                //ShowToolTip(data.title, data.start, data.end)
                //var day = moment(calEvent.start);
                // var sd =  day.format("dddd, MMMM Do YYYY, h:mm")

                // var tooltip = '<div class="tooltipevent" style="width:30%;height:auto;background:#fff;position:absolute;z-index:10001;border-radius: 10px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)"><p style="margin-top:15px;margin-left:15px;color:#2d97d1;font-size:16px;" id="tl">' + calEvent.title + '</p><p style="margin-top:15px;margin-left:15px;color:#grey;font-size:12px;" id="dt">Starts On: ' + sd + '</p><p style="margin-top:15px;margin-left:15px;color:#black;font-size:13px;" id="ds">' + " " + '</div>';
                //   $("body").append(tooltip);
                //   $(this).mouseover(function (e) {
                //       $(this).css('z-index', 10000);
                //       $('.tooltipevent').fadeIn('500');
                //       $('.tooltipevent').fadeTo('10', 1.9);
                //   }).mousemove(function (e) {
                //       $('.tooltipevent').css('top', e.pageY + 10);
                //       $('.tooltipevent').css('left', e.pageX + 20);
                //    });
                // eventHover(calEvent.id, calEvent.title, calEvent.start)
            },
            eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                //alert(event.start.format());
                //if (confirm("Are you sure to change Event Date?")) {
                //    UpdateEventDate(event.id, event.start, event.end)
                //}
                //else {
                //    revertFunc();
                //}
            },
            drop: function () { $("#drop-remove").is(":checked") && $(this).remove() }
        })
    }),
    $("#btnAddNewEvent").on("click", function (t) { t.preventDefault(), AddNewEvent() }),
    $("#inputBackgroundEvent").minicolors({ theme: "bootstrap" });

    function validateEventForm() {
        alert($('#ttm').val());
        alert($("#start").val());
        if ($('#inputTitleEvent').val().trim() == "") {
            $("#error_div_inputTitleEvent").show();
            return false;
        }
        //else if ($('#startTime').val().trim() == "") {
        //    $("#error_div_startTime").show();
        //    $("#error_div_inputTitleEvent").hide();
        //    return false;
        //}
        //else if ($('#endTime').val().trim() == "") {
        //    $("#error_div_endTime").show();
        //    $("#error_div_startTime").hide();
        //    $("#error_div_inputTitleEvent").hide();
        //    return false;
        //}
        else if ($('#Rlead').val().trim() == "0") {
            $("#error_div_Rlead").show();
           // $("#error_div_endTime").hide();
          //  $("#error_div_startTime").hide();
            $("#error_div_inputTitleEvent").hide();
            return false;
        }
        else{
            $("#error_div_Rlead").hide();
            //$("#error_div_endTime").hide();
           // $("#error_div_startTime").hide();
            $("#error_div_inputTitleEvent").hide();
            return true;
        }
    }


    function AddNewEvent() {

        if (validateEventForm()) {
            $(".se-pre-con").show();
            $.ajax({
                url: '/Calender/SaveEvent',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
               // data: JSON.stringify({ Title: $("#inputTitleEvent").val(), StartDate: $("#start").val() + ' ' + $("#startTime").val(), EndDate: $("#end").val() + ' ' + $("#endTime").val(), RelatedLead: $("#Rlead").val(), Description: $("#description").val() }),
                data: JSON.stringify({ Title: $("#inputTitleEvent").val(), StartDate: $("#start").val() , EndDate: $("#end").val() , RelatedLead: $("#Rlead").val(), Description: $("#description").val() }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data == '1') {
                        $('#fullcalendar').fullCalendar('refetchEvents');
                        $("#addNewEvent").modal('hide');
                        $("#eForm")[0].reset();
                        $(".se-pre-con").hide();
                    }
                    else {
                        $("#addNewEvent").modal('hide');
                        $("#eForm")[0].reset();
                        $(".se-pre-con").hide();
                    }
                },
                error: function (xhr) {
                    $("#addNewEvent").modal('hide');
                    $("#eForm")[0].reset();
                    $('#errorMessage').html("No connection");
                    $(".se-pre-con").hide();
                }
            });
        }
        
    }

    function ViewEvent(Event_ID, title, sDate, eDate,ecolor) {
       // var day = moment(sDate);
      //  var sd = day.format("dddd, MMMM Do YYYY, h:mm")
        $(".se-pre-con").show();
        $.ajax({
            url: '/Calender/GetEventInfo',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ EventId: Event_ID }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $("#dba").html('');
                $("#dba").html(data.DBA);
                $("#contact").html('');
                $("#contact").html(data.ContName);
                $("#bphone").html('');
                $("#bphone").html(data.bPhone);
                $("#bemail").html('');
                $("#bemail").html(data.Email);
                $("#ustartDate").val(data.LeadEventStartDate);
                $("#ustartTime").val(data.LeadEventStartTime);
                $("#uendDate").val(data.LeadEventEndDate);
                $("#uendTime").val(data.LeadEventEndTime);
               
                $("#reId").val(Event_ID);           
                
                $("#uId").val(Event_ID);
                $("#uTitle").val(title);              
             
                $("#Event").modal('show')
                $(".se-pre-con").hide();
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
                $(".se-pre-con").hide();
            }
        });
    }

    function UpdateEventDate(id, newStart, newend){
        $.ajax({
            url: '/Calender/UpdateEvntDate',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ EventID: id , StartDate : newStart , EndDate : newend }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data == '1') {
                    $('#fullcalendar').fullCalendar('refetchEvents');
                }
                else {
                }
            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
            }
        });
    }   

    function updateEvent() {
        $(".se-pre-con").show();
        var sd;
        var ed;
        sd = $("#ustartDate").val() + ' ' + $("#ustartTime").val();
        ed = $("#ustartDate").val() + ' ' + $("#uendTime").val();
        $("#ustart").val(moment(sd).format("MM/DD/YY HH:mm"));
        $("#uend").val(moment(ed).format("MM/DD/YY HH:mm"));
       
       
        //if ($("#ustartDate").val().indexOf('/') > -1) {
            
        //    sd = $("#ustartDate").val().replace(/\//g, "-");
        //    alert(sd);
        //}
        //else {
        //     sd = $("#ustartDate").val();
        //}

        //if ($("#uendDate").val().indexOf('/') > -1) {
        //    alert('e');
        //    ed = $("#uendDate").val().replace(/\//g, "-");
        //}
        //else {
        //    ed = $("#uendDate").val();
        //}
      
        $.ajax({
            url: '/Calender/UpdateEvent',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ Title: $("#uTitle").val(), StartDate: $("#ustart").val(), EndDate: $("#uend").val(), Description: $("#uDesc").val(), DateFlag: $("#dtFlag").val(), EventId: $("#uId").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data == '1') {
                    $('#fullcalendar').fullCalendar('refetchEvents');
                    $("#Event").modal('hide');                  
                    $("#uForm")[0].reset();
                    $(".se-pre-con").hide();
                }
                else {
                    $("#Event").modal('hide');
                    $("#uForm")[0].reset();
                    $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                $("#Event").modal('hide');
                $("#uForm")[0].reset();                
                $('#errorMessage').html("No connection");
                $(".se-pre-con").hide();
            }
        });
    }

    function RemoveEvent() {
        $(".se-pre-con").show();
        $.ajax({
            url: '/Calender/DeleteEvent',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ EventId: $("#reId").val() }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                if (data == '1') {
                    $('#fullcalendar').fullCalendar('refetchEvents');
                    $("#Event").modal('hide');
                    $(".se-pre-con").hide();
                }
                else {
                    $("#Event").modal('hide');
                    $(".se-pre-con").hide();
                }
            },
            error: function (xhr) {
                $("#Event").modal('hide');
                $('#errorMessage').html("No connection");
                $(".se-pre-con").hide();
            }
        });
    }

    function eventHover(Event_ID, title, dat) {
        $.ajax({
            url: '/Calender/GetEventInfo',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ EventId: Event_ID }),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                //var sd = new Date(Date.parse(dat));
                //var sd = calEvent.start.format("ddd mmm dd yyyy HH:MM")


            },
            error: function (xhr) {
                $('#errorMessage').html("No connection");
            }
        });

    }

    function transferEvent() {

        if ($("#ftDate").val() == '') {
            $('#error_div_ftDate').show();
        }
        else if ($("#ttDate").val() == '') {
            $('#error_div_ttDate').show();
            $('#error_div_ftDate').hide();
        }
        else {
            $('#error_div_ttDate').hide();
            $('#error_div_ftDate').hide();
            $(".se-pre-con").show();
            var sd;
            var ed;
            sd = $("#ftDate").val();
            ed = $("#ttDate").val();
            $("#tstart").val(moment(sd).format("MM/DD/YY"));
            $("#tend").val(moment(ed).format("MM/DD/YY"));

            $.ajax({
                url: '/Calender/TransferEvent',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ StartDate: $("#tstart").val(), EndDate: $("#tend").val() }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data == '1') {
                        $('#fullcalendar').fullCalendar('refetchEvents');
                        $('#Transfer').modal('hide');
                      //  $("#uForm")[0].reset();
                        $(".se-pre-con").hide();
                    }
                    else {
                        $('#Transfer').modal('hide');
                      //  $("#uForm")[0].reset();
                        $(".se-pre-con").hide();
                    }
                },
                error: function (xhr) {
                    $('#Transfer').modal('hide');
                 //   $("#uForm")[0].reset();
                    $('#errorMessage').html("No connection");
                    $(".se-pre-con").hide();
                }
            });
        }        
    }


    function Transfer() {

        swal({
            title: "Are you sure?",
            text: "Are you sure to transfer these leads!",
            type: "warning",
            showCancelButton: !0,
            cancelButtonClass: "btn-raised btn-default",
            cancelButtonText: "Cancel!",
            confirmButtonClass: "btn-raised btn-danger",
            confirmButtonText: "Yes, Transfer it!",
            closeOnConfirm: !0
        },
        function () {
            transferEvent();
        })
    }
</script>

<script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2();
        });

 </script>

<script type="text/javascript">
        $(document).ready(function () {
            $.post('@Url.Action("GetLeads", "Calender")', {},
                    function (fooList) {
                        $('#Rlead').empty();
                        $.each(fooList, function (i, foo) {
                            //$('#MonthYear').append($("<option />").val(this.Value).text(this.Value));
                            $('#Rlead').append('<option value="' + this.Value + '">' + this.Text + '</option');
                        });
                    });
        });
</script>





